<nav class="w-full flex justify-center py-4">
    <div class="bg-base-200 rounded-full shadow-md px-6">
        <ul class="flex space-x-2">
            <li><a href="/" class="nav-item">Home</a></li>
            <li><a href="/experience" class="nav-item">Experience</a></li>
            <li><a href="/projects" class="nav-item">Projects</a></li>
            <li><a href="/blog" class="nav-item">Blog</a></li>
        </ul>
    </div>
</nav>
